@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';

$avatar-icon-width: 100px;
$avatar-icon-height: $avatar-icon-width;

.callResource {
  display: flex;
  flex-direction: column;
  padding-right: 35px;

  .callDetails {
    .client {
      align-items: center;
      display: flex;

      .clientAvatar {
        flex: 0 0 $avatar-icon-width;
        height: $avatar-icon-height;
        margin-right: 25px;
        width: $avatar-icon-width;
      }

      .title {
        color: $colour-gold;
        font-size: 36px;
        margin: 0;
      }
    }

    .information {
      color: $colour-gold;
      display: flex;
      flex-direction: column;
      font-size: 28px;
      margin-top: 25px;
      text-align: left;
    }
  }

  .audio {
    margin: 20px 0;
    outline: none;
    width: 100%;
  }

  .instruction,
  .transcript {
    font-size: 18px;
    margin: 0;
    padding-right: 35px;
    text-align: left;
  }

  .instruction {
    margin-top: 10px;
  }
}


